<!--<div #content >-->
<!--    <div class="modal-header">-->
<!--        <h4 class="modal-title" id="modal-basic-title">Equipe Form</h4>-->
<!--    </div>-->
<!--    <div class="modal-body">-->
<!--        <form [formGroup]="equipeForm" (ngSubmit)="SaveEquipe()">-->

<!--            <div class="mb-3">-->
<!--                <label>Name</label>-->
<!--                <div class="input-group">-->
<!--                    <input name="name" class="form-control" formControlName="nomEquipe">-->

<!--                </div>-->



<!--            </div>-->





<!--            <div class="mb-3">-->


<!--                    <button  type="submit" class="btn btn-primary">Save</button>-->


<!--                <span [ngClass]="errorclass" >{{errormessage}}</span>-->

<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--    </div>-->

<!--</div>-->

<!--<div class="dls-menu-item">-->
<!--    <button (click)="onPress()">Ajouter plus de details</button>-->
<!--</div>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->


<!--<div id="comp-render" *ngIf="display">-->
<!--    <app-detail-equipe-admin-managment></app-detail-equipe-admin-managment>-->
<!--</div>-->


<!--<hr>-->


