
.loading {
    background: rgba(0, 0, 0, 0.301);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffff;
    background : linear-gradient(to right, #ffff 10%, rgba(255,255,255,0) 42%);
    position: absolute;
    animation: load3 1.4s infinite linear;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #ffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: transparent;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    bottom: 0;
    right: 0;
    top:0;
    left:0;
    margin: auto;
    position: absolute;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

