
<!--<form  #f="ngForm">-->
<!--    title <input type="text" name="title" ngModel required #title="ngModel">-->
<!--    <app-errors [errors]="title"></app-errors>-->

<!--    body <input type="text" name="body" ngModel  #body="ngModel">-->

<!--    <app-errors [errors]="body"></app-errors>-->
<!--    <input type="submit" value="Envoyer"  [disabled]="f.invalid" (click)="sendP(f.value)">-->
<!--</form>-->

<div>
    <mat-card
            style="max-width: 500px;margin:auto"
            [class.mat-elevation-z8]="true"
    >
        <form
                style="display: flex;flex-direction: column;"
                [formGroup]="sendMailForm"
                (ngSubmit)="onSubmit()"
        >
            <mat-form-field>
                <input matInput placeholder="Title" name="nomEquipe" formControlName="title" />
                <mat-error
                        *ngIf="sendMailForm.get('title').hasError"
                >
                    <small> il faut taper au moins <b>3</b> caracteres</small>
                </mat-error>
            </mat-form-field>


<!--            <mat-form-field>-->
<!--                <input matInput placeholder="salle" name="body" formControlName="body" />-->

                <ckeditor [editor]="editor" [config]="ckconfig" formControlName="body" placeholder="mmm"></ckeditor>
            <mat-error
                    *ngIf="sendMailForm.get('body').hasError"
            >
                <small> il faut taper au moins <b>10</b> caracteres</small>
            </mat-error>

<!--            </mat-form-field>-->


            <button
                    class="spacing-top"
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="isLoading"
            >
                submit
            </button>
            <p *ngIf="failed" class="warn-color mat-small spacing-top">failed!</p>
            <div
                    *ngIf="isLoading"
                    class="spacing-top spacing-left"
                    style="display: flex;justify-content: center;"
            >
                <mat-spinner diameter="25"></mat-spinner>

            </div>
        </form>
    </mat-card>
</div>





