<i class="fa fa-times" aria-hidden="true" (click)="reloadComponent()" ></i>
<div class="card card-chart">
   
    <div class="card-header card-header-danger">
        <div class="ct-chart" id="dailySalesChart"></div>
    </div>
    <div class="card-body">
       
        <p class="card-category">
            <span class="text-success"><i class="fa fa-long-arrow-up"></i> </span> Avancement des taches </p>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="material-icons">access_time</i> updated 2 seconde ago
        </div>
    </div>
</div>
