
  
<div class="main-content">
   

    <div class="container-fluid">
        
        <div class="row">



          
            
            <div id="noNotif">
                
                <p>Pas de notifications</p>
             
            </div>
          
            <div *ngIf="clickedDelete">
              

                <section *hideAfter="5000; then placeholder" class="banner primary">
               <div class="alert alert-white alert-white rounded">
               
                <div class="icon">
                    <i class="fa fa-check"></i>
                </div>
                <strong>Success!</strong> 
                Un projet et ses taches sont supprimés avec succées
            </div>      
        </section>
        <ng-template #placeholder>
          <section class="banner placeholder"   >
           
            <p>Pas de notifications</p>
          </section>
        </ng-template> 

        </div>




       








        <div *ngIf="deletAuto">
              

            <section *hideAfter="10000; then placeholder" class="banner primary">
           <div class="alert alert-danger alert-white rounded">
           
            <div class="icon">
                <i class="fa fa-check"></i>
            </div>
            <strong>Danger!</strong> 
            Un projet terminé a été supprimé ainsi que ces taches
        </div>       

    </section>
    <ng-template #placeholder>
      <section class="banner placeholder"   >
       
        <p>Pas de notifications</p>
      </section>
    </ng-template> 

    </div>



    <div class="col-md-12">

       



        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Table des projets
               


                    &nbsp;  
                    

                 <!--   <a [routerLink]="['add']">add</a> -->
           
                <i class="fa fa-plus" aria-hidden="true"  (click)="addProjet()" ></i>
                &nbsp;  
               
                <i class="fa fa-file-excel-o" aria-hidden="true" (click)="exportExcel()" ></i>

                
                &nbsp;  
                <i class="fa fa-bar-chart" aria-hidden="true"  (click)="stats()" ></i>
               
            </h4>
                <p class="card-category"></p>
            </div>
           
            <div class="card-body">
                <div zetFadeInOut class="table-responsive">
                   



                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Nom 
                            </th>
                            <th>
                                Durée
                            </th>
                            <th>
                                Date début
                            </th>
                            <th>
                               Date fin 
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Timer
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                       <!--  {{date}} -->
                            <tr  [appHighlight]="color" *ngFor="let projet of projets   |paginate
                            : {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count
                              };
                        let i = index"  [ngClass]="{
                               
                           
                          
                                'alert-danger':projet.typeProjet === 'PFE'
                              
                              }">
                              
                                <td > {{ projet.nomProjet }}</td>
                            
                                <td>{{ projet.dureeProjet }}</td>
                                <td>{{ projet.dateDebutP }}</td>
                                <td>{{ projet.dateFinP }}</td>
                                <td>{{ projet.typeProjet }}</td>

                              
                                <td>  <countdown (reached)="callback($event)" [text]="text" units="  Days | Hours | Minutes | Seconds"   [end]="projet.dateFinP"></countdown></td>
                                <td>
                                   
                                 
                                   <a class="fa fa-pencil"   (click)="updateProjet(projet)" ></a>
                                   &nbsp;
                               
                                   <a (click)="deleteProjet(projet.idProjet)" class="fa fa-trash"   > </a>
                                   &nbsp;  
                                <a (click)="addTache(projet)" class="fa fa-plus"> </a>    
                                   
                                
                                &nbsp;
                                    <a [routerLink]="['/Projets/getTaches/'+projet.idProjet]" class="fa fa-search" ></a>

                                  
                                </td>
                               
                           
                            </tr>     
                        </tbody>
                    </table>
                   
                    <div class="d-flex justify-content-center">
                     
                        <pagination-controls
                          previousLabel="Prev"
                          nextLabel="Next"
                          (pageChange)="onTableDataChange($event)"
                         
                        >
                  
                        </pagination-controls>
                 
                      </div>


                 

    
 

    

                </div>
              
                <div *ngIf="clicked">
                    
                    <app-stat-projets  [projets]="projets"  ></app-stat-projets>
               
                     </div>    

                     <div *ngIf="clickedAddProjet">
                        <app-add-projet (notif)="addProjetOutput($event)" ></app-add-projet>
                      
                        </div>
                        <div *ngIf="clickedUpdateProjet">
                            <app-update-projet [projet]="projetBinding" ></app-update-projet>
                            
                            </div>
                            <div *ngIf="clickedGetTaches">
                                <app-get-taches [projet]="projetBinding" ></app-get-taches>
                              
                                </div>
                <div *ngIf="clickedAddTache">
                    <app-add-tache [projet]="projetBinding" ></app-add-tache>
                  
                    </div>


                   

              



               

                 

            </div>

            
         


        </div>
       
         
    

    </div>

  
  





   



</div>
</div>
</div>